    <footer>
        <div class="wrapper grid-x grid-padding-x small-up-1 medium-up-3">
            <div class="cell">
                <h4>Contact Info</h4>
                <hr>
                <a href="#"><span>Phone</span> 442 2835184</a>
                <a href="#"><span>Email</span> A01207504@itesm.mx</a>
                <a href="#"><span>Address</span> Tec de Monterrey Campus Queretaro</a>
            </div>
            <div class="cell">
                <h4>Site Map</h4>
                <hr>
                <a href="../index.html">Home</a>
                <a href="../Lab1/index.html">Laboratorios</a>
                <a href="../BasesDatos/cuestionario1.html">Cuestionario</a>
            </div>
            <div class="cell">
                <h4>Designed in</h4>
                <hr>
                <a href="http://brackets.io/">Brackets</a>
                <a href="https://foundation.zurb.com/">Foundation</a>
            </div>
        </div>
    </footer>
        <script src="../foundation/js/vendor/jquery.js"></script>
        <script src="../foundation/js/vendor/what-input.js"></script>
        <script src="../foundation/js/vendor/foundation.js"></script>
        <script src="../foundation/js/app.js"></script>

        
    </body>
</html>