<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Laboratorios</title>
        <link rel="stylesheet" href="../foundation/css/foundation.min.css"/>
        <link rel="stylesheet" href="../foundation/css/app.css"/>
    </head>
    <body>
        <nav class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text">DAW</li>
                        <li><a href="../index.html">Home</a></li>
                        <li>
                            <a>Laboratorios</a>
                            <ul class="menu vertical">
                                <li hidden><a href="../Lab1/index.html">Lab1</a></li>
                                <li hidden><a href="../Lab3/index.html">Lab3</a></li>
                                <li hidden><a href="../Lab4/index.html">Lab4</a></li>
                                <li hidden><a href="../Lab5/images/">Lab5</a></li>
                                <li hidden><a href="../Lab6/index.html">Lab6</a></li>
                                <li><a href="../Lab9/index.php">Lab9</a></li>
                                <li><a href="../Lab11/index.php">Lab11</a></li>
                                <li><a href="../Lab13/index.php">Lab13</a></li>
                                <li><a href="../Lab14/index.php">Lab14</a></li>
                                <li><a href="../Lab16/index.php">Lab16</a></li>
                                <li><a href="../Lab19/index.php">Lab19</a></li>
                                <li><a href="../Lab20/index.php">Lab20</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                      <li><input type="search" placeholder="Search"></li>
                      <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div>                
        </nav>