<div class="wrapper">

    <a class="button">Start Animation</a>
    <div class="anim1">Bienvenido</div>
    Bienvenido <?php echo $_SESSION["usrname"] ?>
    <p>Login correcto, felicidades</p>
    <a  class="button" href="logout.php" role="button">Log out</a>
    <a class="button" href="add.php" role="button">add</a>
    <a class="button" data-open="editar" role="button">Edit</a>

    <br>
    
    <?php getProductos()?>
    <?php getProductosRaw()?>
    
    <img src='<?=$_SESSION["ruta archivo"]?>' alt="Aquí estará tu imagen"><?php echo $_SESSION["producto"]?>
    <div class="reveal" id="editar" data-reveal>
        <h1>Editar una foto</h1>
        <p class="lead">Escribe el nombre de la foto a editar y cambia en nombre de la imagen.</p>
        <form action="editar.php" method="post" enctype="multipart/form-data">
            <label for="producto">
                Nombre del producto
                <input id="producto" type="text" onkeyup="sendRequest()" name="producto" placeholder="ejemplo1">
            </label>
            <div id="ajaxResponse"></div>
            <label for="image">
                Nombre de imagen
                <input type="text" name="image" id="image">
                <input type="submit" value="Save changes" name="submit" placeholder="ejemplo1.jpg">
            </label>
        </form>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script type="text/javascript" src="js/ajax.js"></script>