<section class="hero">
            <div class="wrapper">
                <header><h1>Laboratorio 16</h1></header>
                </div>
        </section>
        <section class="main">
            <div class="wrapper">
                <p>El usuario correcto es: usuario<br>La contraseña correcta es: Password1!</p>
                
                <?php if (isset($_SESSION["error"]) != ""): ?>
                <div class="callout alert" data-closable>
                        <h5>Warning</h5>
                        <p ><?=$_SESSION["error"] ?></p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <?php endif; ?>
                
                <div class="container">
                    <form action="login.php" method="post">
                        <label for="usrname">Usuario</label>
                        <input type="text" id="usrname" name="usrname" required>

                        <label for="psw">Contraseña</label>
                        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div id="message">
                    <h3>La contraseña debe contener lo siguiente</h3>
                    <p id="letra" class="invalid">Una <strong>minúscula</strong></p>
                    <p id="capital" class="invalid">Una <strong>mayúscula</strong> </p>
                    <p id="number" class="invalid">Un <strong>número</strong></p>
                    <p id="length" class="invalid">Mínimo <strong>8 caracteres</strong></p>
                    <p id="chara" class="invalid">Mínimo <strong>1 caracter raro</strong></p>


                </div>
            </div>
            <article class="wrapper">
    
                <header><h3>Preguntas a responder</h3></header>
                <p><strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong> MVC supports rapid and parallel development. If an MVC model is used to develop any particular web application then it is possible that one programmer can work on the view while the another can work on the controller to create business logic of the web application. Hence this way, the application developed using MVC model can be completed three times faster than applications that are developed using other development pattern.<br>
                For any web application, user interface tends to change more frequently than even the business rules of the company. It is obvious that you make frequent changes in your web application like changing colors, fonts, screen layouts, and adding new device support for mobile phones or tablets. Moreover, Adding new type of viewsare very easy in MVC pattern because the Model part does not depend on the views part. Therefore, any changes in the Model will not affect the entire architecture.</p>
            
                <p><strong>¿Qué es SQL injection y cómo se puede prevenir?</strong> SQL injection is a code injection technique that might destroy your database. SQL injection is one of the most common web hacking techniques. SQL injection is the placement of malicious code in SQL statements, via web page input.[2]</p>
                <p> To protect a web site from SQL injection, you can use SQL parameters. SQL parameters are values that are added to an SQL query at execution time, in a controlled manner.[2]<br>Ejemplo:</p>
                <code>txtUserId = getRequestString("UserId");<br>
                txtSQL = "SELECT * FROM Users WHERE UserId = @0";<br>
                db.Execute(txtSQL,txtUserId);</code>
               
            </article>
             <article class="wrapper">
                <header><h3>Referencias</h3></header>
                <ol>
                    <li>https://en.wikipedia.org/wiki/Open_Database_Connectivity</li>
                    <li>https://www.w3schools.com/sql/sql_injection.asp</li>
                
                </ol>
            </article>
        </section>

        <script src="passvalidate.js"></script>
    