<div class="wrapper">
    Bienvenido <?php echo $_SESSION["usrname"] ?>
    <p>Login correcto, felicidades</p>
    <a  class="button" href="logout.php" role="button">Log out</a>
    <a class="button" href="add.php" role="button">add</a>
    <br>
    
    <?php getProductos()?>
    <?php getProductosRaw()?>
    
    <img src='<?=$_SESSION["ruta archivo"]?>' alt="Aquí estará tu imagen"><?php echo $_SESSION["producto"]?>
    <div class="reveal" id="exampleModal1" data-reveal>
        <h1>Awesome. I Have It.</h1>
        <p class="lead">Your couch. It is mine.</p>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>