<section class="hero">
            <div class="wrapper">
                <header><h1>Laboratorio 13</h1></header>
                </div>
        </section>
        <section class="main">
            <div class="wrapper">
                <p>El usuario correcto es: usuario<br>La contraseña correcta es: Password1!</p>
                <div class="container">
                    <form action="login.php" method="post">
                        <label for="usrname">Usuario</label>
                        <input type="text" id="usrname" name="usrname" required>

                        <label for="psw">Contraseña</label>
                        <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div id="message">
                    <h3>La contraseña debe contener lo siguiente</h3>
                    <p id="letra" class="invalid">Una <strong>minúscula</strong></p>
                    <p id="capital" class="invalid">Una <strong>mayúscula</strong> </p>
                    <p id="number" class="invalid">Un <strong>número</strong></p>
                    <p id="length" class="invalid">Mínimo <strong>8 caracteres</strong></p>
                    <p id="chara" class="invalid">Mínimo <strong>1 caracter raro</strong></p>


                </div>
            </div>
            <article class="wrapper">
    
                <header><h3>Preguntas a responder</h3></header>
                <p><strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong> session_destroy() destroys all of the data associated with the current session. It does not unset any of the global variables associated with the session, or unset the session cookie. To use the session variables again, session_start() has to be called.[1]</p>
            
                <p><strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong> A session is a way to store information (in variables) to be used across multiple pages. Unlike a cookie, the information is not stored on the users computer.[2]</p>
                
                <p><strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong> A good practice is to make a sha256 of the file and then saving it.<br>How to do it:</p>
                <ul>
                    <li>Upload the files to a temporary directory.</li>
                    <li>Hash the file and get the sha256 string.</li>
                    <li>Rename the file and copy to upload folder.[3]</li>
                </ul>
                <p><strong>¿Qué es CSRF y cómo puede prevenirse?</strong> Cross Site Request Forgery and it refers to users who are genuinely logged in or authorised to use a service or website, find their authorisation exploited by another user who has embedded exploitable code on a page that they visit. This doesn’t even have to be on the same site.[4]</p>
            </article>
             <article class="wrapper">
                <header><h3>Referencias</h3></header>
                <ol>
                    <li>http://php.net/manual/en/function.session-destroy.php</li>
                    <li>https://www.w3schools.com/php/php_sessions.asp</li>
                    <li>https://stackoverflow.com/questions/31892238/how-to-prevent-a-php-upload-script-from-overwriting-existing-files</li>
                    <li>https://medium.com/@GemmaLou/csrf-the-a-z-2b85d26438b</li>
                </ol>
            </article>
        </section>

        <script src="passvalidate.js"></script>
    