<article class="wrapper">
    <header><h3>Preguntas a responder</h3></header>
    <p><strong>¿A qué se refiere la descentralización de servicios web?</strong>
        Se refiere a poder acceder a un servicio web sin depender de que esté instalado en tu computadora.
        Esto ayuda a que no haya problemas de hardware de compatibilidad porque no tienes que almacenar el servicio.
    </p>
    <p><strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong>
        Se despliega el servicio web en diferentes servidores.
    </p>

</article>